/**
 * Model style
 *
 * From generic to specific
 *
 * p = Percentage
 * r = Responsive dimension, adjust with breackpoints
 *
 * @version 2021-02-16
 *
 */

html {
	scroll-behavior: smooth;
}

/* Single properties */

.position-top-20 { top: 20px }
.position-right-10 { right: 10px }

.m-auto {
	margin: auto;
}
.margin-top-15 { margin-top: 15px }
.margin-top-30 { margin-top: 30px }
.margin-top-70 { margin-top: 70px }

.margin-top-30r { margin-top: 3rem }
.margin-top-40r { margin-top: 4rem }
.margin-top-50r { margin-top: 5rem }


.margin-bottom-10r { margin-bottom: 10rem }
.margin-bottom-15r { margin-bottom: 1.5rem }
.margin-bottom-20r { margin-bottom: 2rem }
.margin-bottom-30r { margin-bottom: 3rem }
.margin-bottom-50r { margin-bottom: 5rem }
.margin-bottom-35r { margin-bottom: 3.5rem }
.margin-bottom-10r { margin-bottom: 1rem }

.margin-left-5 { margin-left: 5px }
.margin-right-5 { margin-right: 5px }
.margin-left-10 { margin-left: 10px }
.margin-left-300 { margin-left: 300px }

.margin-left-right-15 { margin-left: 15px; margin-right: 15px }

.box-shadow-1 { box-shadow: 10px 0px 5px rgba(0,0,0,.5) }
.box-shadow-1 { box-shadow: 0 0 15px 0 rgba(0,0,0,0.4); }

.outline-color-beige { outline-color: #efe6df }
.outline-color-black { outline-color: #000 }
.border {border: 1px solid #fff}
.border-style-dashed { border-style: dashed; }

.border-color-red { border-color: #ed1c24 }
.border-color-beige { border-color: #efe6df }
.border-width-1 { border-width: 1px }
.border-width-2 { border-width: 2px }

.background-color-beige { background-color: #efe6df }
.background-color-darkgrey { background-color: #1d1d1d }
.background-color-darkgrey-75 { background-color: rgba(29, 29, 29, 0.75) }
.background-color-red { background-color: #ed1c24 }
.background-color-black-75 { background-color: rgba(0,0,0,.75) }
.background-color-black-90 { background-color: rgba(0,0,0,.9) }


.background-image-checkered { background-image: url(../img/bg-checkered.png) }

.background-position-minus50 { background-position: -50px }

.padding-20 { padding: 20px }
.padding-15r { padding: 1.5rem }
.padding-20r { padding: 2rem }

.padding-top-10 { padding-top: 10px }
.padding-top-20 { padding-top: 20px }
.padding-top-30 { padding-top: 30px }
.padding-top-40 { padding-top: 40px }
.padding-top-65 { padding-top: 65px }

.padding-top-30r { padding-top: 3rem }
.padding-top-40r { padding-top: 4rem }
.padding-top-50r { padding-top: 5rem }
.padding-top-60r { padding-top: 6rem }
.padding-top-90r { padding-top: 9rem }
.padding-top-230r { padding-top: 23rem }

.padding-top-1em { padding-top: 1em }

.padding-bottom-1 { padding-bottom: 1px }
.padding-bottom-10 { padding-bottom: 10px }
.padding-bottom-15 { padding-bottom: 15px }
.padding-bottom-40 { padding-bottom: 40px }
.padding-top-10r {padding-top: 1rem;}
.padding-bottom-40r { padding-bottom: 4rem }
.padding-bottom-50r { padding-bottom: 5rem }
.padding-bottom-60r { padding-bottom: 6rem }
.padding-bottom-130r { padding-bottom: 13rem }

.padding-top-bottom-60r { padding-top: 6rem; padding-bottom: 6rem }
.padding-top-bottom-80r { padding-top: 8rem; padding-bottom: 8rem }

.padding-left-100r { padding-left: 10rem }
.padding-left-0dot5em { padding-left: .5em }
.width-fit {width: fit-content;}
.width-20 { width: 20px }
.width-30 { width: 30px }
.width-26 { width: 26px }
.width-30 { width: 30px }
.width-60 { width: 60px }
.width-250 { width: 250px }
.width-300 { width: 300px }

.width-30r { width: 3rem }
.width-50r { width: 5rem }
.width-60r { width: 6rem }
.width-250r { width: 25rem }

.width-69p { width: 69% }
.height-100p {height: 100%;}
.min-width-30 { min-width: 30px }
.min-width-92 { min-width: 92px }
.min-width-200 { min-width: 200px }
.min-width-300 { min-width: 300px }
.min-width-320 { min-width: 320px }
.min-width-360 { min-width: 360px }

.max-width-200 { max-width: 200px }
.max-width-346 { max-width: 346px }
.max-width-350 { max-width: 350px }
.max-width-360 { max-width: 360px }
.max-width-530 { max-width: 530px }
.max-width-700 { max-width: 700px }
.max-width-1100 { max-width: 1100px }
.max-width-1250 { max-width: 1250px }

.height-10 { height: 10px }
.height-20 { height: 20px }
.height-26 { height: 26px }
.height-30 { height: 30px }
.height-50 { height: 50px }
.height-60 { height: 60px }
.height-260 { height: 260px }

.height-30r { height: 3rem }
.height-50r { height: 5rem }

.height-90r { height: 9rem }

.min-height-40 { min-height: 40px }
.min-height-160 { min-height: 160px }
.min-height-170 { min-height: 170px }

.min-height-500 { min-height: 500px }

.min-height-600r { min-height: 60rem }

.max-height-100p { min-height: 100% }

.line-height-1dot15 { line-height: 1.15 }
.line-height-32 { line-height: 3.2rem }

.font-size-20 { font-size: 20px; }
.font-size-80r { font-size: 8rem; }

.font-family-mralex { font-family: 'mr_alexbold', sans-serif }
.font-family-trirong { font-family: 'Trirong', serif }
.font-family-sans-serif { font-family: sans-serif }

.color-red { color: #ed1c24 }
.color-beige { color: #efe6df }
.color-grey { color: #545454 }
.color-darkgrey { color: #1d1d1d }

.transition-all-400ms { transition: all 400ms }
.object-cover {
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
/* Tags */
body {
	background-color: #1d1d1d;
	font-family: 'Trirong', serif;
	font-weight: 300;
	color: #fff;
}

/* Classes */

.nav-primary {
  scrollbar-width: thin;
  scrollbar-color: #1d1d1d #000;
}

.nav-primary::-webkit-scrollbar {
  width: 12px;
}

.nav-primary::-webkit-scrollbar-track {
  background: #000;
}

.nav-primary::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 6px;
  border: 3px solid #000;
}

.nav-primary ul {
	list-style-type: none;
}

.background-custom-1 {
	background-image:		linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%),
							linear-gradient(90deg, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%),
							url(../img/bg-checkered.png);

	background-repeat:		no-repeat,
							no-repeat,
							repeat;

	background-position:	top left,
							top right,
							top left;
}

.background-custom-2 {
	background-image: linear-gradient(90deg, rgba(0,0,0,0) 90%, rgba(0,0,0,.25) 100%);
	background-repeat: no-repeat;
	background-position: top right;
}

.background-custom-3 { background-image: linear-gradient(45deg, rgba(219,205,194,1) 0%, rgba(251,237,225,1) 100%) }

.background-custom-4 { background-image: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 40%, rgba(19,19,19,1) 60%, rgba(0,0,0,1) 100%); }

.block {
	display: inline-table;
}

.display-block {
	display: block;
}

.display-flex {
	display: flex;
}
.display-grid { display: grid; }

.flex-wrap {
	flex-wrap: wrap;
}
.flex-1 {
	flex: 1;
}
.grid-cols-5 {
	grid-template-columns: repeat(5, 1fr);
}

.justify-content-between {
	justify-content: space-between;
}
.place-content-center {
	place-content: center center;
}

.items-center {
	align-items: center;
}
.items-start {
	align-items: start;
}
.dots-between {
	&>*:first-child {
		order: 1;
	}
	&>*:last-child {
		order: 3;
	}
	&::after {
		order: 2;
		flex: 1;
		overflow: clip;
		display: block;
		letter-spacing: 12px;
		margin-left: 10px;
		margin-right: 10px;
		content: "........................................................................"
		
	}
}
.block > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.editText,
.editOpeningHours {
	position: absolute;
	right: 0;
	display: none;
}

.editText input,
.editOpeningHours input {
	border: 1px dashed blue;
	width: 80px;
	padding: 3px 6px;
	text-align: right;
	font-family: sans-serif;
}

.editText-opened,
.editOpeningHours-opened {
	display: inline-block;
}

.editOpeningHours input {
	width: 100px;
}

.footer-logo {
	position: absolute;
	display: inline-block;
	bottom: 5px;
	left: -105px;
}

.sig-logo {
	display: inline-block;
	width: 112px;
	height: 17px;
	background-image: url(/img/dpLogo-white.png);
}

.ribbon {
	position: relative;
	display: inline-table;
	font-size: 0;
}

.ribbon-inner {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.ribbon:before,
.ribbon:after {
    position: absolute;
	z-index: -1;
	background-color: inherit;
    padding: 0;
	content: "";
}

.ribbon-bottom:before,
.ribbon-bottom:after {
	bottom: 0;
	width: 100%;
	height: 10px;

}

.ribbon-bottom:before {
	left: 0;
    transform: skewY(-20deg);
}

.ribbon-bottom:after {
	right: 0;
    transform: skewY(20deg);
}

.ribbon-left:before,
.ribbon-left:after {
	left: 0;
	width: 10px;
	height: 100%;
}

.ribbon-left:before {
	top: 0;
    transform: skewX(-20deg);
}

.ribbon-left:after {
	bottom: 0;
    transform: skewX(20deg);
}

.ribbons {
	right: 10px;
}

.btn-1 {
	padding: .8rem 3rem .5rem 3rem;
	line-height: 1;
	font-size: 20px;
	font-family: 'mr_alexbold', sans-serif;
	color: #fff;
}

.btn-action-wedding {
	padding: 13px 55px;
	min-width: 213px;
	transition-property: background-color;
	transition-duration: 300ms;

	&:hover {
		background-color: #ed1c24;
	}
}

.btn-1-active {
	border: dashed 2px #ed1c24;
}

.btn-2 {
	display: inline-block;
	margin: 5px;
	outline-style: solid;
	outline-width: 5px;
	border-style: dashed;
	border-width: 2px;
	padding: 1.4rem 3rem 1.1rem 3rem;
	line-height: 1;
	font-family: 'mr_alexbold', sans-serif;
}

.main {
	overflow-x: hidden;
	transition: left 400ms;
}

.btn-hamburger {
	width: 30px;
}

.btn-hamburger div {
	margin: 6px 0 0 0;
	height: 3px;
}

.btn-hamburger div:nth-of-type(2) {
	width: 83%;
}

.btn-hamburger div:nth-of-type(1) {
	margin: 0;
}

.btn-times {
	position: relative;
	margin-top: 3px;
	width: 40px;
	height: 40px;
}

.maple-sep {
	position: relative;
	display: table;
	width: 100%;

}

.maple-sep > div:nth-of-type(1),
.maple-sep > div:nth-of-type(3) {
	display: table-cell;
	background-color: #fff;
	height: 1px;
}

.maple-sep > div:nth-of-type(2) {
	display: table-cell;
	width: 26px;
	height: 26px;
}

/*.maple-sep:after {
	position: absolute;
	top: -13px;
	left: 50%;
	display: inline-block;
	margin-left: -13px;
	width: 26px;
	height: 26px;
	background-image: url(/img/icon/maple-leaf-white.svg);
	content: '';
}*/

.noStroller {
	display: flex;
	position: relative;
	min-height: 95px;
	padding-top: 15px;
	padding-left: 95px;
	align-items: center;
}

.noStroller-icon {
	position: absolute;
	top: 15px;
	left: 0;
	width: 80px;
	height: 80px;
}

.noStroller-icon-stroller {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -28%;
	margin-left: -28%;
	width: 56%;
	height: auto;
	color: #fff;
}

.noStroller-icon-no {
	position: absolute;
	width: 100%;
	height: auto;
	color: #ed1c24;
}

.noStroller-text {
	line-height: 1.2;
	text-align: left;
	font-weight: 700;
	color: #fff;
}

/* Markdown */
.markdown {
	font-size: inherit;
}

.markdown a { text-decoration: underline }


.markdown h1 {
	line-height: 1.15;
	font-size: 4rem;
	font-family: 'mr_alexbold', sans-serif;
	color: #ed1c24;
}

.markdown h2 {
	line-height: 1.15;
	font-size: 24px;
	font-family: 'mr_alexbold', sans-serif;
	color: #ed1c24;
}

.markdown h2 + p {
	padding-top: 0;
}

.markdown hr {
	height: 1px;
	background-color: #fff;
}

.markdown ul {
	position: relative;
	padding-left: 1.5em;
	list-style: none;
}

.markdown li {
	position: relative;
	padding-top: .5em;
	text-align: left;
	line-height: 1.25;
}

.markdown li ul {
	padding-top: 0;
}

.markdown li:before {
	position: absolute;
	top: .6em;
	left: -1.5em;
    content: '';
	line-height: 1.5;
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('/img/icon/maple-leaf-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
	vertical-align: middle;
 }

.markdown li li:before {
    background-image: url('/img/icon/maple-leaf-white.svg');
 }

/* Override components */

.dplu5-footerType1 {
	background-color: #1d1d1d;
	color: #545454;
}

.dplu5-footerType1-logo {
	opacity: 30%;
}


/* Overrride plugins */

.slick-slider, .slick-list, .slick-track {
	height: 100%;
}


/* Breakpoint 1 */
@media screen and (max-width: 1199px) {
	.b1-position-left-minus300 { left: -300px }
	.b1-position-left-300 { left: 300px }
	.b1-margin-left-0 { margin-left: 0 }
	.b1-margin-top-70 { margin-top: 70px; }

	.markdown h2 {
		font-size: 22px;
	}
}

/* Breakpoint 2 */
@media screen and (max-width: 991px) {

}

/* Breakpoint 3 */
@media screen and (max-width: 767px) {
	.b3-padding-top-40r { padding-top: 4rem }
}

/* Breakpoint 4 */
@media screen and (max-width: 575px) {

}


/* Custom fonts  */

@font-face {
    font-family: 'mr_alexbold';
    src: url('../fonts/mralex-bold-webfont.woff2') format('woff2'),
         url('../fonts/mralex-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Animations */

.anim-heartbeat {
	animation: heartbeat 1.4s infinite;
	transform-origin: 50% 50%;
}

@keyframes heartbeat {
	0% {
	  transform: scale( 1 );
	}
	20%
	{
	  transform: scale( 1.1 );
	}
	40%
	{
	  transform: scale( 1 );
	}
	60%
	{
	  transform: scale( 1.1 );
	}
	80%
	{
	  transform: scale( 1 );
	}
	100%
	{
	  transform: scale( 1 );
	}
}


/* Breakpoint 4 */
@media print {
	.print-display-none { display: none; }
	.color-red { color: #000 }
	.border-color-red { border-color: #000 }
	.border-color-white { border-color: #000 }
	.background-color-beige { background-color: whitesmoke }
	.markdown h2 { color: #000 }

	body { color: #000 }
	div { page-break-inside: avoid }
	main { margin-left: 0 !important; }
}


/* old markup for copy paste */

.max-width-170 { max-width: 170px }
.max-width-400 { max-width: 400px }

.max-width-540 { max-width: 540px }
.max-width-1650 { max-width: 1650px }

.height-4 { height: 4px }
.height-30 { height: 30px }

.height-50r { height: 5rem }
.height-80r { height: 8rem }

.height-520 { height: 520px }

.padding-top-10 { padding-top: 10px }
.padding-top-15 { padding-top: 15px }
.padding-top-20r { padding-top: 2rem }
.padding-top-30r { padding-top: 3rem }
.padding-top-35r { padding-top: 3.5rem }
.padding-top-40r { padding-top: 4rem }
.padding-top-80r { padding-top: 8rem }
.padding-top-120r { padding-top: 12rem }

.padding-right-10 { padding-right: 10px }
.padding-right-15 { padding-right: 15px }
.padding-right-20r { padding-right: 2rem }
.padding-right-30r { padding-right: 3rem }
.padding-right-40r { padding-right: 4rem }
.padding-right-80r { padding-right: 8rem }

.padding-right-2 { padding-right: 2px }

.padding-bottom-20r { padding-bottom: 2rem }
.padding-bottom-25r { padding-bottom: 2.5rem }
.padding-bottom-80r { padding-bottom: 8rem }
.padding-bottom-120r { padding-bottom: 12rem }

.padding-left-right-5 { padding-left: 5px; padding-right: 5px }
.padding-left-right-30 { padding-left: 30px; padding-right: 30px }
.padding-left-right-30r { padding-left: 3rem; padding-right: 3rem }

.padding-left-right-20r { padding-left: 2rem; padding-right: 2rem }
.padding-left-right-40r { padding-left: 4rem; padding-right: 4rem }

.padding-top-30 { padding-top: 30px }

.padding-top-bottom-5 { padding-top: 5px; padding-bottom: 5px }

.padding-top-bottom-10 { padding-top: 10px; padding-bottom: 10px }
.padding-top-bottom-15 { padding-top: 15px; padding-bottom: 15px }
.padding-top-bottom-30 { padding-top: 30px; padding-bottom: 30px }

.padding-top-bottom-20r { padding-top: 2rem; padding-bottom: 2rem }

.padding-right-30 { padding-right: 30px; }

.padding-left-10 { padding-left: 10px; }

.text-shadow-1 { text-shadow: 1px 1px 2px rgba(0,0,0,.5) }

.text-underline { 
	text-decoration: underline;
	text-underline-offset: 5px;
}
.text-uppercase {
	text-transform: uppercase;
}

.font-size-30r { font-size: 3rem }
.font-size-32r { font-size: 3.2rem }
.font-size-40r { font-size: 4rem }
.font-normal{font-weight: normal;}
.font-weight-bold {
	font-weight: 600;
	line-height: 3.2rem;
}
/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}
.wedding-menu-slide {

	& ul {
		list-style: none;
	}
	& .menu-description {
		font-size: 2.2rem;
		& p, & span, & .markdown p {
			font-size: 2.2rem;
		}
	} 
	& small {
		font-size: 1.6rem;
	}
	& h3 small {
		text-transform: unset;
		font-family: 'Trirong', serif ;
		color: #efe6df;
		font-size: 1.8rem;
	}

	.granite {
		& ul {
			column-gap: 6.7rem; row-gap: 1rem; list-style: disc ;
			display: flex;
			flex-wrap: wrap;

			li::before {
				display: none;
			}
		}
	}
}
.highlight-strong {
	& strong {
		color: #ed1c24;
		font-size: 1.5rem;
	}
}
.slick-slide {
	height: auto !important;
}

.Wedding-menus-tab {
	.nav {
		display: flex;
		background-color: #EFE6DF;
		gap: 3px;
		padding-bottom: 3px;

		&>.item {
			flex: 1;
			font-size: 20px;
		}
	}

	.inlie-md {
		display: inline;
		
		p, .markdown {
			display: inline;
			vertical-align: baseline;
		}
	}
}

.wedding-gallery-images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"img-1 img-2 img-3 img-4"
		"img-5 img-5 img-6 img-4";

	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"img-1"
			"img-2"
			"img-3"
			"img-4"
			"img-5"
			"img-6";
	}
	.img-1 {
		grid-area: img-1;
	}

	.img-2 {
		grid-area: img-2;
	}

	.img-3 {
		grid-area: img-3;
	}

	.img-4 {
		grid-area: img-4;
	}

	.img-5 {
		grid-area: img-5;
	}

	.img-6 {
		grid-area: img-6;
	}
}


.wedding-contact-form {
	display: flex;
	flex-wrap: wrap;
	gap: 16px 30px;

	&>div:has(:not(textarea)) {
		width: calc(50% - 15px);
	}

	input,
	textarea {
		padding: 12px;
	}
}

@media (max-width: 991px) {
	.m-justify-center {
		justify-content: center !important;
	}

	.m-text-center {
		text-align: center !important;
	}

	.m-margin-auto {
		margin: auto;
	}

	.m-flex-col {
		flex-direction: column;
	}

	.m-grid-cols-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.m-grid-cols-1 {
		grid-template-columns: 1fr;
	}

	.gap-perso {
		gap: 20px 12px;

	}

	.wedding-contact-form {
		&>div:has(:not(textarea)) {
			width: 100%;
		}
	}

	.slide-with-flex {
		& .display-flex {
			flex-wrap: wrap;
		}
		& .flex-1 {
			flex: unset;
			width: 100%;
		}
	}
}