/*.tooltipster-borderless {
	font-size: 16px;
	color: #fff;
}

.tooltipster-box {
	background: grey;
	border: 3px solid red;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-content {
	background-color: #be0000;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 1;
	overflow: hidden;
}

.tooltipster-arrow-background {
    border-top-color: #be0000;
}*/





.tooltipster-sidetip .tooltipster-box {
	border-color: #000;
	background-color: #000;
}

.tooltipster-sidetip .tooltipster-content {
	font-size: 16px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #000;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #000;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #000;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #000;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: #000;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #000;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
	border-right-color: #000;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
	border-top-color: #000;
}