.dplu5-sliderType1 {
	position: relative;
}

.dplu5-sliderType1 .dplu5-sliderType1-next {
	transform: rotate(180deg);
	right: 0;
}

.dplu5-sliderType1 .slick-slider,
.dplu5-sliderType1 .slick-track,
.dplu5-sliderType1 .slick-list,
.dplu5-sliderType1-offset { height: 100% }

.dplu5-sliderType1 .slick-arrow {
	position: absolute;
	top: 50%;
	height: 4rem;
	width: 4rem;
	font-size: 4rem;
	line-height: 4rem;
	padding: 0;
	border: none;
	background-color: transparent;
	z-index: 4;
	margin-top: -2rem;
}

.dplu5-sliderType1-slide-content-table {
	display: inline-table;
	width: 100%;
	height: 100%;
}

.dplu5-sliderType1-slide-content-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.dplu5-sliderType1-slide-content-inner {
	display: inline-block;
	max-width: 800px;
	line-height: 1.2;
}

.dplu5-sliderType1-slide-content-inner span {
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
}


@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}