.dplu5-quotes {
	position: relative;
	padding-right: 60px;
	padding-left: 60px;
}

.dplu5-quotes .icon-quote path { fill: currentcolor }

.dplu5-quotes-left,
.dplu5-quotes-right {
	display: inline-block;
	position: absolute;
	width: 45px;
	height: 45px;
	background-position: 50%;
}

.dplu5-quotes-left {
	top: 0;
	left: 0;
}

.dplu5-quotes-right {
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
}

@media screen and (max-width: 575px) {
	.dplu5-quotes {
		padding-right: 0;
		padding-left: 0;
		padding-top: 45px;
		padding-bottom: 50px;
	}
}