.dplu5-footerType1 {
	background-color: #000;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 1.5;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-size: 0;
}

.dplu5-footerType1 span {
	font-size: 12px;
}

.dplu5-footerType1-div {
    display: table-cell;
	box-sizing: border-box;
}

@media screen and (max-width: 575px) {
	.dplu5-footerType1-div {
		display: block;
		text-align: center;
	}
}

.dplu5-footerType1-container {
	position: relative;
	height: 100%;
	min-width: 320px;
}

.dplu5-footerType1-section {
	display: inline-table;
}

@media screen and (max-width: 575px) {
	.dplu5-footerType1-section {
		display: block;
		text-align: center;
	}
}

.dplu5-footerType1-div {
	padding: 0;
	margin: 0;
}

.dplu5-footerType1-container > .dplu5-footerType1-section {
	width: 100%;
}

.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div {
	padding-right: 15px;
	padding-left: 15px;
}



.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div:last-of-type {
	text-align: right;
}

.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div:first-of-type .dplu5-footerType1-div:last-of-type  {
	padding-left: 4px;
}

@media screen and (max-width: 575px) {
	.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div:first-of-type .dplu5-footerType1-div:last-of-type  {
		padding-left: 0;
	}
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

	.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div {
		display: block;
		text-align: center;
	}
	.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div:last-of-type {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.dplu5-footerType1-container { width: 540px }
}

@media screen and (max-width: 575px) {
	.dplu5-footerType1-container { width: 100% }

	.dplu5-footerType1-container > .dplu5-footerType1-section > .dplu5-footerType1-div:last-of-type {
		padding-top: 10px;
	}
}

.dplu5-footerType1-logo {
	display: inline-block;
	margin-left: 7px;
	width: 112px;
	height: 17px;
	background-image: url(img/dpLogo-white.png);
}

@media screen and (max-width: 575px) {
	.dplu5-footerType1-logo {
		margin-left: 0;
	}
}

.dplu5-footerType1-div {
	vertical-align: middle;
}