/**
 * Lightbox style
 *
 * @version 2021-03-02
 *
 */

.dplu5-lightbox {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	background-color: rgba(0,0,0,.8);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .4s, visibility 0.4s;
	-moz-transition: opacity .4s, visibility 0.4s;
	-o-transition: opacity .4s, visibility 0.4s;
	transition: opacity .4s, visibility 0.4s;
}

.dplu5-lightbox-active {
	visibility: visible;
	opacity: 1;
}

.dplu5-lightbox-canvas {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	border-radius: 4px;
}

.dplu5-lightbox-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background-size: 30px 30px;
	background-position: center center;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(255,255,255)"><path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"/></svg>');
	color: #fff;
}

.dplu5-lightbox-js-show {
	cursor: pointer;
}