.dplu5-sliderType1 {
	position: relative;
}

.dplu5-sliderType1 .slick-prev {
	left: 0;
}

.dplu5-sliderType1 .slick-next {
	transform: rotate(180deg);
	right: 0;
}

.dplu5-sliderType1 .slick-slider,
.dplu5-sliderType1 .slick-track,
.dplu5-sliderType1 .slick-list { height: 100% }

.dplu5-sliderType1 .slick-arrow {
	position: absolute;
	z-index: 99;
	top: 50%;
	display: inline-block;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	color: #fff;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(255,255,255)"><path d="M11.672 3.891L3.563 12l8.109 8.109-1.781 1.781L0 11.999l9.891-9.891z"/></svg>');
	background-size: 30px 30px;
	background-position: center center;
}