/**
 * Base styles for all projects
 *
 * This file serve as a starting point for all projects, it normalize things across browsers, reset browsers
 * styles and set some default styles
 *
 * @version 2020-09-23
 *
 */


/* Applicable to all tags (USE WITH CARE) */
/**********************************************************************************************************************/

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-width: 0;
	background-repeat: no-repeat;
}
*:focus { outline: none }

/**********************************************************************************************************************/


/* Root font size used for responsives dimensions */
/**********************************************************************************************************************/

:root { font-size: 10px }

/**********************************************************************************************************************/


/* Shared property */
/**********************************************************************************************************************/

html,
body {
	min-width: 320px;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input { overflow: visible }

textarea { overflow: auto }

button,
select { text-transform: none }

button,
input,
select,
textarea {
	border: none;
	vertical-align: top;
}

a,
button {
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
option,
p,
span,
textarea,
ul {
	font-size: 18px
}

@media screen and (max-width: 1199px) {
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	input,
	li,
	option,
	p,
	span,
	textarea,
	ul {
		font-size: 16px
	}
}


/**********************************************************************************************************************/


/* Tags */
/**********************************************************************************************************************/

a { text-decoration: none; color: inherit }

b { font-weight: 600 }

body { font-family: sans-serif; font-size: 0 }

div { vertical-align: top }

i, i:after, i:before { font-size: inherit }

h2 { margin: 0 }

p + p { padding-top: 1em }
p + h1 { padding-top: 1em }
p + h2 { padding-top: 1em }
p + h3 { padding-top: 1em }
h1 + p { padding-top: 1em }
h2 + p { padding-top: 1em }
h3 + p { padding-top: 1em }
ul + p { padding-top: 1em }
p + ul { padding-top: 1em }
h2 + h3 { padding-top: 1em }
h3 + ul { padding-top: 1em }

pre {
	position: relative;
    display: block;
	margin: 1rem;
	border: 1px dashed #000;
	background-color: #fff;
	padding: 1rem;
    font-family: monospace;
	font-size: 16px;
    white-space: pre;
}

table { border-collapse: collapse }

svg path { fill: currentcolor }

/**********************************************************************************************************************/


/* Webkit adjustements */
/**********************************************************************************************************************/

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
  font-style: normal;
  font-weight: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

a {
	-webkit-text-decoration-skip: objects;
}

/* Change Autocomplete styles in Chrome*/
:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Adjust fonts */
html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

/**********************************************************************************************************************/


/* Mozilla adjustements */
/**********************************************************************************************************************/

html { -moz-osx-font-smoothing: grayscale }

/**********************************************************************************************************************/


/* Microsoft adjustements */
/**********************************************************************************************************************/

html { -ms-text-size-adjust: 100% }

/**********************************************************************************************************************/