/**
 * Standard classes
 *
 * Theses classes can be used across projects
 *
 * p = Percentage
 * r = Responsive dimension, adjust with breackpoints
 *
 * @version 2019-11-28
 *
 */


/* Position */
.position-absolute { position: absolute !important }
.position-absoluteBottom { position: absolute; bottom: 0 }
.position-fixed { position: fixed !important }
.position-relative { position: relative !important }

.position-top-0 { top: 0 }
.position-top-10 { top: 10px }
.position-top-50p { top: 50% }
.position-right-0 { right: 0 }
.position-right-10 { right: 10px }
.position-bottom-0 { bottom: 0 }
.position-left-0 { left: 0 }
.position-left-bottom { left: 0; bottom: 0 }


/* Display */
.display-none { display: none }
.display-inline { display: inline }
.display-block { display: block }
.display-inlineBlock { display: inline-block }
.display-table { display: table !important }
.display-inlineTable { display: inline-table }
.display-tableRow { display: table-row }
.display-tableCell { display: table-cell }

/* Visibility */
.visibility-hidden { visibility: hidden }
.visibility-visible { visibility: visible }

/* Alignement */
.verticalAlign-top { vertical-align: top }
.verticalAlign-middle { vertical-align: middle }
.verticalAlign-bottom { vertical-align: bottom }

.text-align-left { text-align: left !important }
.text-align-center { text-align: center !important }
.text-align-right { text-align: right !important }


/* Margin */
.margin-0 { margin: 0 }
.margin-top-minus15 { margin-top: -15px }
.margin-left-right-minus15 { margin-left: -15px; margin-right: -15px }

/* Box shadow */
.box-shadow-none {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Border */
.border-style-solid { border-style: solid }

.border-width-0 { border-width: 0 }
.border-width-1 { border-width: 1px }
.border-width-2 { border-width: 2px }

.border-top-width-1 { border-top-width: 1px }

.border-right-width-1 { border-right-width: 1px }

.border-bottom-width-1 { border-bottom-width: 1px }
.border-bottom-width-2 { border-bottom-width: 2px }

.border-left-width-1 { border-left-width: 1px }
.border-left-width-2 { border-left-width: 2px }

.border-solid-1 { border: solid 1px }

.border-radius-50p { border-radius: 50% }

.border-color-white { border-color: #fff }


/* Dimensions */
.width-auto { width: auto }

.width-20p { width: 20% }
.width-25p { width: 25% }
.width-33p { width: calc(100% / 3) }
.width-40p { width: 40% }
.width-50p { width: 50% }
.width-60p { width: 60% }
.width-66p { width: calc(100% / 3 * 2) }
.width-75p { width: 75% }
.width-100p { width: 100% }

.height-auto { height: auto }
.height-1 { height: 1px }
.height-100p { height: 100% }


/* Background */
.background-color-black { background-color: #000 }
.background-color-transparent { background-color: transparent }
.background-color-white { background-color: #fff }

.background-position-left-bottom { background-position: left bottom }
.background-position-center { background-position: 50% }
.background-position-center-top { background-position: center top }
.background-position-center-bottom { background-position: center bottom }
.background-position-bottom { background-position: bottom }



.background-size-contain { background-size: contain }
.background-size-cover { background-size: cover }

.background-cover-center { background-size: cover; background-position: 50% }

.background-repeat-repeat { background-repeat: repeat }


/* Padding */

.padding-top-15 { padding-top: 15px }
.padding-left-15 { padding-left: 15px }
.padding-right-15 { padding-right: 15px }

.padding-top_bottom-15 { padding-top: 15px; padding-bottom: 15px }
.padding-left-right-15 { padding-left: 15px; padding-right: 15px }


/* Element parameters */
.cursor-auto { cursor: auto }
.cursor-pointer { cursor: pointer }

.list-style-position-inside { list-style-position: inside; }

.opacity-0 { opacity: 0 }
.opacity-1 { opacity: 1 }

.overflow-hidden { overflow: hidden }
.overflow-x-auto { overflow-x: auto }
.overflow-x-hidden { overflow-x: hidden }
.overflow-y-auto { overflow-y: auto }
.overflow-y-hidden { overflow-y: hidden }
.overflow-y-scroll { overflow-y: scroll }

.resize-none { resize: none }

.table-layout-fixed { table-layout: fixed }

.text-overflow-ellipsis { text-overflow: ellipsis }

.transform-origin-top-left { transform-origin: 0 0 }
.transform-scaleY-0 { transform: scaleY(0) }
.transform-scaleY-1 { transform: scaleY(1) }

.visibility-hidden { visibility: hidden }
.visibility-visible { visibility: visible }

.white-space-nowrap { white-space: nowrap }

/* Text */
.line-height-1 { line-height: 1 }
.line-height-1dot1 { line-height: 1.1 }
.line-height-1dot2 { line-height: 1.2 }
.line-height-1dot25 { line-height: 1.25 }

.text-decoration-underline { text-decoration: underline }
.text-transform-uppercase { text-transform: uppercase }
.text-transform-uppercase-firstLetter:first-letter { text-transform: uppercase }

.font-size-0 { font-size: 0 }
.font-size-tiny { font-size: 12px }
.font-size-verySmall { font-size: 14px }
.font-size-small { font-size: 16px }
.font-size-medium { font-size: 18px }
.font-size-large { font-size: 24px !important }
.font-size-extraLarge { font-size: 32px }

.font-style-italic { font-style: italic }

.font-weight-light { font-weight: 300 }
.font-weight-normal { font-weight: 400 }
.font-weight-semibold { font-weight: 600 }
.font-weight-bold { font-weight: 700 }

.font-style { font-style: italic }

.color-black { color: #000 }
.color-white { color: #fff }


/* Container */
.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 1140px;
	min-width: 320px;
}


/* Frame */
.frame { position: relative; display: inline-block }
.frame-1x1 { padding-top: 100% }
.frame-4x3 { padding-top: 75% }
.frame-3x4 { padding-top: 133.3333% }
.frame-16x9 { padding-top: 56.25% }
.frame-540x560 { padding-top: 103.7% }
.frame-inner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* Shape */
.shape-circle { display: inline-block; border-radius: 50% }
.shape-pill { border-radius: 50vh }


/* Breakpoint 1 */
@media screen and (max-width: 1199px) {

	:root { font-size: 9px }

	.b1-position-left-0 { left: 0 }

	.b1-display-none { display: none  !important }
	.b1-display-block { display: block }
	.b1-display-inlineBlock { display: inline-block }
	.b1-display-inlineTable { display: inline-table }
	.b1-display-table { display: table }
	.b1-display-tableCell { display: table-cell; height: 100%; }

	/* Visibility */
	.b1-visibility-hidden { visibility: hidden }
	.b1-visibility-visible { visibility: visible }

	.b1-opacity-0 { opacity: 0 }
	.b1-opacity-1 { opacity: 1 }

	.b1-margin-left-right-0 { margin-left: 0; margin-right: 0 }

	.b1-box-shadow-none {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.b1-text-align-left { text-align: left }
	.b1-text-align-center { text-align: center }
	.b1-text-align-right { text-align: right }

	.b1-text-align-top { vertical-align: top }
	.b1-text-align-middle { vertical-align: middle }
	.b1-text-align-bottom { vertical-align: bottom }

	.b1-border-left-width-2 { border-left-width: 2px }

	.b1-width-auto { width: auto !important }
	.b1-width-25p { width: 25% }
	.b1-width-33p { width: 33.33333333% }
	.b1-width-50p { width: 50% }
	.b1-width-66p { width: 66.66666666% }
	.b1-width-75p { width: 75% }
	.b1-width-100p { width: 100% }

	.b1-max-width-100p { max-width: 100% }

	.b1-height-100p { height: 100% }

	/* Text */
	.font-size-small { font-size: 14px }
	.font-size-medium { font-size: 16px }
	.font-size-large { font-size: 22px }
	.font-size-extraLarge { font-size: 28px }

	/* Container */
	.container { width: 960px }
}

/* Breakpoint 2 */
@media screen and (max-width: 991px) {

	:root { font-size: 8px }

	.b2-container {
		margin-right: auto;
		margin-left: auto;
		width: 720px;
		min-width: 320px;
	}

	.b2-display-none { display: none }
	.b2-display-block { display: block }
	.b2-display-inlineBlock { display: inline-block }
	.b2-display-inlineTable { display: inline-table }
	.b2-display-table { display: table }
	.b2-display-tableCell { display: table-cell; height: 100% }

	.b2-box-shadow-none {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.b2-border-radius-0 { border-radius: 0 !important }

	.b2-text-align-left { text-align: left  !important }
	.b2-text-align-center { text-align: center  !important }
	.b2-text-align-right { text-align: right  !important }

	.b2-verticalAlign-top { vertical-align: top }
	.b2-verticalAlign-middle { vertical-align: middle }
	.b2-verticalAlign-bottom { vertical-align: bottom }

	.b2-border-left-width-0 { border-left-width: 0 }
	.b2-border-left-width-2 { border-left-width: 2px }

	.b2-width-auto { width: auto !important }
	.b2-width-25p { width: 25% }
	.b2-width-33p { width: 33.33333333% }
	.b2-width-40p { width: 40% }
	.b2-width-60p { width: 60% }
	.b2-width-50p { width: 50% }
	.b2-width-66p { width: 66.66666666% }
	.b2-width-75p { width: 75% }
	.b2-width-100p { width: 100% !important }

	.b2-max-width-100p { max-width: 100% }
	.b2-max-width-none { max-width: none !important }

	.b2-height-auto { height: auto !important }
	.b2-height-100p { height: 100% !important }
	.b2-height-50p { height: 50% !important }

	/* Container */
	.container { width: 720px }
}

/* Breakpoint 3 */
@media screen and (max-width: 767px) {

	:root { font-size: 7px }

	.b3-container {
		margin-right: auto;
		margin-left: auto;
		width: 540px;
		min-width: 320px;
	}

	.b3-position-relative { position: relative !important }

	.b3-display-none { display: none }
	.b3-display-block { display: block }
	.b3-display-inlineBlock { display: inline-block }
	.b3-display-inlineTable { display: inline-table }
	.b3-display-table { display: table }
	.b3-display-tableCell { display: table-cell; height: 100%; }

	.b3-box-shadow-none {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	.b3-border-radius-0 { border-radius: 0 !important }

	.b3-text-align-left { text-align: left !important }
	.b3-text-align-center { text-align: center !important }
	.b3-text-align-right { text-align: right !important }

	.b3-verticalAlign-top { vertical-align: top !important }
	.b3-verticalAlign-middle { vertical-align: middle !important }
	.b3-verticalAlign-bottom { vertical-align: bottom !important }

	.b3-width-auto { width: auto !important }
	.b3-width-25p { width: 25% !important }
	.b3-width-33p { width: 33.33333333% !important }
	.b3-width-50p { width: 50% }
	.b3-width-66p { width: 66.66666666% !important }
	.b3-width-75p { width: 75% !important }
	.b3-width-100p { width: 100% !important }

	.b3-max-width-100p { max-width: 100% !important }

	.b3-height-100p { height: 100% !important }
	.b3-height-auto { height: auto !important }

	.b3-padding-top-0 { padding-top: 0 !important }
	.b3-padding-top-15 { padding-top: 15px !important }
	.b3-padding-top-bottom-15 { padding-top: 15px !important; padding-bottom: 15px !important }
	.b3-padding-right-0 { padding-right: 0 !important }
	.b3-padding-bottom-0 { padding-bottom: 0 !important }
	.b3-padding-left-0 { padding-left: 0 !important }
	.b3-padding-left-right-15 { padding-left: 15px !important; padding-right: 15px !important }

	/* Container */
	.container { width: 540px }
}

/* Breakpoint 4 */
@media screen and (max-width: 575px) {

	:root { font-size: 6px }

	.b4-display-none { display: none }
	.b4-display-block { display: block }
	.b4-display-inlineBlock { display: inline-block }
	.b4-display-table { display: table }
	.b4-display-tableCell { display: table-cell; height: 100%; }

	.b4-margin-left-right-0 { margin-left: 0; margin-right: 0 }
	.b4-margin-left-right-15 { margin: 0 15px }

	.b4-box-shadow-none {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.b4-border-radius-0 { border-radius: 0 !important }

	.b4-background-image-none { background-image: none !important }

	.b4-verticalAlign-top { vertical-align: top }
	.b4-verticalAlign-middle { vertical-align: middle }
	.b4-verticalAlign-bottom { vertical-align: bottom }

	.b4-text-align-left { text-align: left }
	.b4-text-align-center { text-align: center !important }
	.b4-text-align-right { text-align: right }
	.b4-text-align-justify { text-align: justify }

	.b4-border-left-width-0 { border-left-width: 0 }
	.b4-border-top-width-2 { border-top-width: 2px }

	.b4-width-auto { width: auto !important }
	.b4-width-25p { width: 25% !important }
	.b4-width-33p { width: 33.33333333% !important }
	.b4-width-50p { width: 50% !important }
	.b4-width-66p { width: 66.66666666% !important }
	.b4-width-75p { width: 75% !important }
	.b4-width-100p { width: 100% !important }

	.b4-max-width-100p { max-width: 100% !important }

	.b4-height-100p { height: 100% !important }

	.b4-padding-top-0 { padding-top: 0 }
	.b4-padding-right-0 { padding-right: 0 }
	.b4-padding-bottom-0 { padding-bottom: 0 }
	.b4-padding-left-0 { padding-left: 0 }

	.b4-padding-left-right-15 { padding: 0 15px }

	/* Container */
	.container { width: 100% }
}