.dplu5-teamCardType1 {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 133.3333%;
}

.dplu5-teamCardType1-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background-position: center;
	background-size: cover;
}

.dplu5-teamCardType1-text {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	background-color: rgba(255,255,255,.75);
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;

}

.dplu5-teamCardType1-text-line1 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
}

.dplu5-teamCardType1-text-line2 {
	font-size: 18px;
}

.dplu5-teamCardType1-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

.dplu5-teamCardType1-button {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	padding: 5px;
}

.dplu5-teamCardType1-button-icon {
	width: 100%;
	height: 100%
}

.dplu5-teamCardType1-button-email {
	margin-top: 10px;
}


@media screen and (max-width: 1199px) {
	.dplu5-teamCardType1-text-line1 {
		font-size: 22px;
	}

	.dplu5-teamCardType1-text-line2 {
		font-size: 16px;
	}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
	.dplu5-teamCardType1-text {
		text-align: center;
	}
}