.dplu5-teamCardType1 {
	font-size: 0;
}

.dplu5-contactInfoType1-block {
	display: inline-table;
	width: calc(100% / 3);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-align: center;
	vertical-align: top;
}

.dplu5-contactInfoType1-block-inner {
	display: table-cell;
}

.dplu5-contactInfoType1-info {
	display: inline-table;
	width: 330px;
	text-align: left;
}

.dplu5-contactInfoType1-info-icon {
	display: table-cell;
	vertical-align: top;
	padding-right: 15px;
}

.dplu5-contactInfoType1-info-icon-svg {
	width: 30px;
	height: auto;
}

.dplu5-contactInfoType1-info-text {
	display: table-cell;
	width: 100%;
	font-size: 18px;
	vertical-align: top;
}

.dplu5-contactInfoType1-info-title {
	text-transform: uppercase;
}

.dplu5-contactInfoType1-address-content {
	display: block;
}

@media screen and (max-width: 1199px) {
	.dplu5-contactInfoType1-info {
		display: inline-block;
		width: auto;
		text-align: center;
	}

	.dplu5-contactInfoType1-info-icon {
		display: inline-block;
		padding-right: 0;
		padding-bottom: 15px;
	}

	.dplu5-contactInfoType1-info-text {
		display: inline-block;
	}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	.dplu5-contactInfoType1-block {
		width: 100%;
		min-height: 150px;
	}

	.dplu5-contactInfoType1-block-inner {
		vertical-align: middle;
	}

	.dplu5-contactInfoType1-info {
		display: inline-table;
		width: 300px;
		text-align: left;
	}

	.dplu5-contactInfoType1-info-icon {
		display: table-cell;
		padding-right: 15px;
		padding-bottom: 0;
	}

	.dplu5-contactInfoType1-info-text {
		display: table-cell;
	}
}

@media screen and (max-width: 575px) {
}